<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    this is our beans-->

    <!--    first bean-->

    <bean class="entities.Student" name="student1">
        <property name="studentId">
            <value>23MCA1069</value>

        </property>

        <property name="studentName">
            <value>Siddharth Ranjan</value>
        </property>

        <property name="studentAddress">
            <value>Patna</value>
        </property>
    </bean>

    <!--    second bean-->

    <bean class="entities.Student" name="student2">
        <property name="studentId" value="23MCA1097"/>

        <property name="studentName" value="Divy Parekh"/>

        <property name="studentAddress" value="Ahmedabad"/>
    </bean>

    <!--    third bean using p-->

    <bean class="entities.Student" name="student3" p:studentId="23MCA1054" p:studentName="Anshul Sharma" p:studentAddress="Jaipur"/>

    <!--    fourth bean-->

    <bean class="entities.Student" name="student4" p:studentId="23MCA1104" p:studentName="Piyush Verma" p:studentAddress="Jamshedpur"/>
</beans>
